<div class="multiple-date-picker">
    <div class="picker-top-row">
        <div class="text-center picker-navigate picker-navigate-left-arrow" [ngClass]="{'disabled':disableBackButton}" (click)="changeMonth($event, disableBackButton, -1)">&lt;</div>
        <div class="text-center picker-month">
            {{monthToDisplay}}
            <span *ngIf="yearsForSelect.length < 2">{{yearToDisplay}}</span>
        </div>
        <div class="text-center picker-navigate picker-navigate-right-arrow" [ngClass]="{'disabled':disableNextButton}" (click)="changeMonth($event, disableNextButton, 1)">&gt;</div>
        <button (click)="clearDays()">Clear Days</button>
        <button (click)="logDays()">Log Days</button>
        <button (click)="findArray()">Find Array</button>
        <button (click)="decrement()">
        Decrement
      </button>
      <button (click)="increment()">
        Increment
      </button>
    </div>
    <div class="picker-days-week-row">
        <div class="text-center" *ngFor="let weekDays of daysOfWeek">{{weekDays}}</div>
    </div>
    <div class="picker-days-row">
        <div class="text-center picker-day {{getDayClasses(day)}}" title="{{day.title}}" *ngFor="let day of days" (click)="toggleDay($event, day)" >
            {{day ? day.mdp.otherMonth && !showDaysOfSurroundingMonths ? '&nbsp;' : day.date.format('D') : ''}}
        </div>
    </div>
</div>

<!--<select *ngIf="yearsForSelect.length > 1" ng-model="year" ng-change="changeYear(year)" ng-options="y for y in yearsForSelect"></select>-->
<!--mdp-right-click="rightClicked($event,day)"-->

<!--day ? day.mdp.otherMonth && -->

<!--(mouseover)="hoverDay($event, day)"-->

<!--(mouseleave)="hoverDay($event, day)"-->


<!--

                template: '<div class="multiple-date-picker">' +
                '<div class="picker-top-row">' +
                '<div class="text-center picker-navigate picker-navigate-left-arrow" ng-class="{\'disabled\':disableBackButton}" ng-click="changeMonth($event, disableBackButton, -1)">&lt;</div>' +
                '<div class="text-center picker-month">' +
                '{{monthToDisplay}} ' +
                '<span ng-if="yearsForSelect.length < 2">{{yearToDisplay}}</span>' +
                '<select ng-if="yearsForSelect.length > 1" ng-model="year" ng-change="changeYear(year)" ng-options="y for y in yearsForSelect"></select>' +
                '</div>' +
                '<div class="text-center picker-navigate picker-navigate-right-arrow" ng-class="{\'disabled\':disableNextButton}" ng-click="changeMonth($event, disableNextButton, 1)">&gt;</div>' +
                '</div>' +
                '<div class="picker-days-week-row">' +
                '<div class="text-center" ng-repeat="day in daysOfWeek">{{day}}</div>' +
                '</div>' +
                '<div class="picker-days-row">' +
                '<div class="text-center picker-day {{getDayClasses(day)}}" title="{{day.title}}" ng-repeat="day in days" ng-click="toggleDay($event, day)" ng-mouseover="hoverDay($event, day)" ng-mouseleave="dayHover($event, day)"
                mdp-right-click="rightClicked($event,day)">
                {{day ? day.mdp.otherMonth && !showDaysOfSurroundingMonths ? \'&nbsp;\' : day.date.format(\'D\') : \'\'}}
                </div>' +
                '</div>' +
                '</div>',-->